/* Importing Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
/* Importing KG Red Hands */
@font-face {
    font-family: "KG Red Hands";
    src: url("../Fonts/KG Red Hands.ttf");
}
/* Variables */
:root {
    --proximaNova: "Proxima Nova";
    --percentage: 100%;
    --color1: rgb(
        calc(var(--percentage) / 4),
        calc(var(--percentage) / 4),
        calc(var(--percentage) / 4)
    );
    --color2: rgb(var(--percentage), var(--percentage), var(--percentage));
    --color3: rgb(
        calc(var(--percentage) * 0.15),
        calc(var(--percentage) / 4),
        calc(var(--percentage) / 2)
    );
    --kgRedHands: "KG Red Hands";
    --color4: rgb(
        calc(var(--percentage) * 0.04296875),
        calc(var(--percentage) * 0.04296875),
        calc(var(--percentage) * 0.23828125)
    );
    --color5: rgb(
        calc(var(--percentage) / 32),
        calc(var(--percentage) / 32),
        calc(var(--percentage) * 0.16796875)
    );
    --color6: rgb(
        calc(var(--percentage) * 0.828125),
        calc(var(--percentage) * 0.828125),
        calc(var(--percentage) * 0.96484375)
    );
    --color8: rgb(
        calc(var(--percentage) * 0.51953125),
        calc(var(--percentage) * 0.51953125),
        calc(var(--percentage) * 0.67578125)
    );
    --color9: var(--color5);
    --color10: rgb(
        calc(var(--percentage) * 0.1484375),
        calc(var(--percentage) * 0.1484375),
        calc(var(--percentage) * 0.84765625)
    );
}
/* Styling that applies for all pages */
body {
    background-color: var(--color1);
    color: var(--color2);
    font-family: sans-serif;
}
/* / */
#Homepage {
    background-color: var(--color3);
}
#Homepage main #persona header {
    text-align: center;
    font-family: var(--kgRedHands);
}
#Homepage main .continue a {
    background: linear-gradient(
        -30deg,
        var(--color4) calc(var(--percentage) / 2),
        var(--color5) calc(var(--percentage) / 2)
    );
    color: var(--color6);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
#Homepage main .continue a::before {
    content: "";
    background-color: var(--color8);
    opacity: calc(var(--percentage) * 0);
}
#Homepage main .continue a span:nth-child(1) {
    background: linear-gradient(to left, var(--color9), var(--color10));
}
