/* Variables */
:root {
    --percentage: 100%;
    --pixelate: 1080px;
    --textSize: var(--percentage);
    --color7: rgba(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0),
        calc(var(--percentage) / 2)
    );
    --time: 1s;
}
/* Styling that applies for all pages */
body {
    font-size: var(--textSize);
    width: var(--percentage);
    margin: calc(var(--percentage) * 0);
}
/* / */
#Homepage main #persona {
    display: flex;
    width: var(--percentage);
}
#Homepage main #persona header,
#Homepage main #persona #image {
    width: calc(var(--percentage) / 2);
}
#Homepage main #persona header {
    margin: calc(var(--percentage) / 9) calc(var(--percentage) * 0);
}
#Homepage main #persona #image {
    display: flex;
    justify-content: center;
}
#Homepage main #persona header #name {
    font-size: calc(var(--textSize) * 2);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main #persona header #role {
    font-size: calc(var(--textSize) * 1.458);
    margin: calc(var(--percentage) / 100) calc(var(--percentage) * 0);
}
#Homepage main .continue a {
    padding: calc(var(--pixelate) / 54) calc(var(--pixelate) / 27);
    margin: calc(var(--pixelate) / 90);
    display: inline-block;
    transform: translate(
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0)
    );
    overflow: hidden;
    font-size: calc(var(--pixelate) / 54);
    letter-spacing: calc(var(--pixelate) / 432);
    box-shadow: 0 calc(var(--pixelate) / 54) calc(var(--pixelate) / 21.6)
        var(--color7);
}
#Homepage main .continue a::before {
    position: absolute;
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: var(--percentage);
    transition: calc(var(--time) / 5) opacity ease-in-out;
}
#Homepage main .continue a span {
    position: absolute;
}
#Homepage main .continue a span:nth-child(1) {
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateTop linear infinite;
}
@keyframes animateTop {
    0% {
        transform: translateX(var(--percentage));
    }
    100% {
        transform: translateX(calc(var(--percentage) * -1));
    }
}
#Homepage main .continue a span:nth-child(2) {
    top: calc(var(--pixelate) * 0);
    right: calc(var(--pixelate) * 0);
    height: var(--percentage);
    width: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateRight linear infinite;
}
@keyframes animateRight {
    0% {
        transform: translateY(var(--percentage));
    }
    100% {
        transform: translateY(calc(var(--percentage) * -1));
    }
}
#Homepage main .continue a span:nth-child(3) {
    bottom: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    width: var(--percentage);
    height: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateBottom linear infinite;
}
@keyframes animateBottom {
    0% {
        transform: translateX(calc(var(--percentage) * -1));
    }
    100% {
        transform: translateX(var(--percentage));
    }
}
#Homepage main .continue a span:nth-child(4) {
    top: calc(var(--pixelate) * 0);
    left: calc(var(--pixelate) * 0);
    height: var(--percentage);
    width: calc(var(--pixelate) / 540);
    animation: calc(var(--time) * 2) animateLeft linear infinite;
}
@keyframes animateLeft {
    0% {
        transform: translateY(calc(var(--percentage) * -1));
    }
    100% {
        transform: translateY(var(--percentage));
    }
}
