@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
:root {
    --proximaNova: "Proxima Nova";
    --color1: rgb(64, 64, 64);
    --color2: rgb(255, 255, 255);
    --color3: rgb(0, 0, 128);
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --horizontalHD: 1920px;
    --verticalHD: 1080px;
    --opacity: 100%;
    --tablet: 0.59049;
    --mobile: 0.531441;
}
* {
    background-color: var(--color1);
    color: var(--color2);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    margin: calc(var(--vertical) * 0);
    font-family: sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
main a {
    width: calc(var(--horizontal) * 0.2187);
    display: flex;
    justify-content: center;
    align-items: center;
}
main a img {
    width: var(--horizontal);
    height: auto;
}
main a img:hover {
    content: url("../Images/\(1545\).png");
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
