@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
:root {
    --proximaNova: "Proxima Nova";
    --color1: rgb(0, 0, 0);
    --color2: rgb(255, 255, 255);
    --color3: rgb(0, 0, 128);
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --horizontalHD: 1920px;
    --verticalHD: 1080px;
    --opacity: 100%;
    --tablet: 0.729;
    --mobile: 0.531441;
    background-color: var(--color1);
    color: var(--color2);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    margin: calc(var(--vertical) * 0);
    font-family: sans-serif;
}
* {
    margin: calc(var(--vertical) * 0);
}
header nav {
    width: var(--horizontal);
    display: flex;
}
header nav div {
    width: calc(var(--horizontal) / 6);
    text-align: center;
}
header nav a {
    color: var(--color2);
    font-family: var(--proximaNova);
    font-weight: bold;
    text-decoration: none;
}
header nav a img {
    height: calc(var(--verticalHD) * 0.0531441);
    width: auto;
}
header nav a img:hover {
    opacity: calc(var(--opacity) * 0.5);
}
header nav a:hover {
    text-decoration: underline;
}
main h1 {
    text-align: center;
    font-family: var(--proximaNova);
    text-shadow: calc(var(--horizontalHD) * 0) calc(var(--horizontalHD) * 0)
        calc(var(--horizontalHD) / 135) var(--color3);
}
main img {
    width: calc(var(--horizontal) / 3);
    padding: calc(var(--vertical) * 0) calc(var(--horizontal) / 3);
    height: auto;
}
footer h1 {
    font-family: var(--proximaNova);
    text-align: center;
}
@media screen and (min-width: 1024px) {
    header nav a {
        font-size: calc(var(--fontSize) * 1.8);
    }
    main h1 {
        font-size: calc(var(--fontSize) * 2);
    }
    footer {
        margin-top: calc(var(--vertical) * 0.161051);
    }
    footer h1 {
        font-size: var(--fontSize);
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
