/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    src: url("../Fonts/Proxima Nova.otf");
    src: url("../Fonts/Proxima Nova - Alternate.otf");
}
:root {
    --proximaNova: "Proxima Nova";
    --color1: rgb(0, 0, 0);
    --color2: rgb(255, 255, 255);
    --color3: rgb(0, 0, 128);
    --color4: rgb(255, 0, 0);
    --color5: rgb(0, 255, 255);
    --color6: rgb(0, 255, 0);
    --horizontal: 100%;
    --vertical: 100%;
    --fontSize: 100%;
    --horizontalHD: 1920px;
    --verticalHD: 1080px;
    --opacity: 100%;
    background-color: var(--color1);
    color: var(--color2);
    font-size: var(--fontSize);
    width: var(--horizontal);
    height: var(--vertical);
    margin: calc(var(--vertical) * 0);
    font-family: sans-serif;
}
body {
    margin: calc(var(--vertical) * 0);
}
header nav {
    width: var(--horizontal);
    display: flex;
}
header nav div {
    width: calc(var(--horizontal) / 6);
    text-align: center;
}
header nav a {
    color: var(--color2);
    font-size: calc(var(--fontSize) * 1.8);
    font-family: var(--proximaNova);
    font-weight: bold;
    text-decoration: none;
}
header nav a img {
    height: calc(var(--verticalHD) * 0.0531441);
    width: auto;
}
header nav a img:hover {
    opacity: calc(var(--opacity) * 0.5);
}
header nav a:hover {
    text-decoration: underline;
}
main form {
    background-color: var(--color2);
    color: var(--color1);
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0.2);
    padding-top: calc(var(--vertical) * 0.05);
    padding-left: calc(var(--horizontal) * 0.05);
    padding-right: calc(var(--horizontal) * 0.05);
    padding-bottom: calc(var(--vertical) * 0);
    width: calc(var(--horizontal) / 2);
}
main form #label {
    text-align: center;
    font-size: calc(var(--fontSize) * 2);
    font-family: var(--proximaNova);
    font-weight: bold;
    padding-bottom: calc(var(--vertical) * 0.025937424);
}
main form #formContainer #username,
main form #formContainer #firstName,
main form #formContainer #lastName,
main form #formContainer #dateOfBirth,
main form #formContainer #mailAddress {
    margin: calc(var(--vertical) * 0.01) calc(var(--horizontal) * 0);
}
main form #formContainer #username #input,
main form #formContainer #firstName #input,
main form #formContainer #lastName #input,
main form #formContainer #dateOfBirth #input,
main form #formContainer #mailAddress #input {
    width: var(--horizontal);
    display: flex;
}
main form #formContainer #username #input input,
main form #formContainer #firstName #input input,
main form #formContainer #lastName #input input,
main form #formContainer #dateOfBirth #input input,
main form #formContainer #mailAddress #input input {
    margin: calc(var(--vertical) * 0);
    width: calc(var(--horizontal) * 0.8);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
}
main form #formContainer #username #input div,
main form #formContainer #firstName #input div,
main form #formContainer #lastName #input div,
main form #formContainer #dateOfBirth #input div,
main form #formContainer #mailAddress #input div {
    width: calc(var(--horizontal) * 0.2);
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: bold;
    color: var(--color4);
}
main form #formContainer #username #guidelines,
main form #formContainer #firstName #guidelines,
main form #formContainer #lastName #guidelines,
main form #formContainer #dateOfBirth #guidelines,
main form #formContainer #mailAddress #guidelines {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
}
main form #formContainer #registrationButton {
    text-align: center;
}
main form #formContainer #registrationButton button {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: bold;
    background-color: var(--color1);
    color: var(--color2);
    padding: calc(var(--vertical) * 0.025) calc(var(--horizontal) * 0.05);
    border: none;
}
main form #formContainer #registrationButton button:hover {
    background-color: var(--color2);
    color: var(--color1);
    cursor: pointer;
}
main form #serverRendering {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
    font-weight: bold;
    text-align: center;
    margin-top: calc(var(--vertical) * 0.025);
    padding-bottom: calc(var(--vertical) * 0.025);
    width: var(--horizontal);
}
main form #serverRendering #failure {
    color: var(--color4);
}
main form #serverRendering #success {
    color: var(--color6);
}
footer {
    text-align: center;
    margin-top: calc(var(--vertical) * 0.045949729);
}
footer h1 {
    font-size: var(--fontSize);
    font-family: var(--proximaNova);
}
